<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pictures</title>
</head>

<body>
  <div class="gallery">
    <!-- Карточки изображений -->
  </div>
  <button type="button" class="load-more">Load more</button>
  <button type="button" class="move-top is-hidden"><span
      class="arrow-upward material-icons">arrow_upward</span></button>
</body>

</html>